 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 684px;
}

.u-section-1 .u-tabs-1 {
  min-height: 161px;
  margin-top: 20px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-tab-link-4 {
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-tab-link-5 {
  font-size: 1rem;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-tab-link-6 {
  background-image: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-form-group-1 {
  --progress: 0%;
}

.u-section-1 .u-form-group-2 {
  --progress: 0%;
}

.u-section-1 .u-btn-3 {
  --radius: 32px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-form-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-label-4 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-5 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-6 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-btn-6 {
  --radius: 32px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-form-3 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-label-7 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-7 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-label-8 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-8 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-9 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-10 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-btn-9 {
  --radius: 32px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-form-4 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-label-11 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-11 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-label-12 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-12 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-btn-12 {
  --radius: 32px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-form-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-label-13 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-13 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-label-14 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-14 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-form-group-19 {
  margin-left: 0;
}

.u-section-1 .u-label-15 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-15 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-form-group-20 {
  margin-left: 0;
}

.u-section-1 .u-label-16 {
  font-size: 1rem;
  font-weight: 700;
}

.u-section-1 .u-input-16 {
  --radius: 9px;
  font-size: 1rem;
}

.u-section-1 .u-btn-15 {
  --radius: 32px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-form-6 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    min-height: 410px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 1.125rem;
    border-style: solid;
    --radius: 16px;
    padding: 3px 15px;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1.125rem;
    border-style: solid;
    --radius: 16px;
    padding: 3px 15px;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 1.125rem;
    border-style: solid;
    --radius: 16px;
    padding: 3px 15px;
  }

  .u-section-1 .u-tab-link-4 {
    font-size: 1.125rem;
    border-style: solid;
    --radius: 16px;
    padding: 3px 15px;
  }

  .u-section-1 .u-tab-link-5 {
    font-size: 1.125rem;
    border-style: solid;
    --radius: 16px;
    padding: 3px 15px;
  }

  .u-section-1 .u-tab-link-6 {
    font-weight: 800;
    font-size: 1.125rem;
    border-style: solid;
    --radius: 16px;
    padding: 3px 15px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-form-1 {
    height: 155px;
    width: 280px;
    --thumb-color: #f58d54;
    --thumb-hover-color: #f8ae86;
    --track-color: #c0c0c0;
    --track-active-color: #f58d54;
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-form-2 {
    height: 361px;
    width: 280px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-label-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-4 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-6 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-6 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-form-3 {
    height: 361px;
    width: 280px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-label-7 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-7 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-8 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-8 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-9 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-9 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-10 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-10 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-form-4 {
    height: 361px;
    width: 280px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-label-11 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-11 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-12 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-12 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-form-5 {
    height: 361px;
    width: 280px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-label-13 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-13 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-14 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-14 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-15 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-15 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-label-16 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-input-16 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-form-6 {
    height: 68px;
    width: 280px;
    margin: 398px 0 -243px;
  }
}