.u-block-bcaa-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-bcaa-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-bcaa-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-1-1 .u-text-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1-1 .u-table-1 {
  margin-top: 459px;
  margin-bottom: 0;
}

.u-block-7ac3-180 {
  height: 47px;
}

.u-block-7ac3-191 {
  height: 47px;
}

.u-section-1-1 .u-table-2 {
  margin-top: -1056px;
  margin-bottom: 60px;
}

.u-block-7ac3-125 {
  border-style: double;
}

.u-section-1-1 .u-table-cell-7 {
  border-style: double;
}

.u-section-1-1 .u-table-cell-8 {
  border-style: double;
  font-size: 1rem;
}

.u-section-1-1 .u-table-cell-9 {
  border-style: double;
  font-size: 1rem;
}

.u-section-1-1 .u-table-cell-10 {
  border-style: double;
  font-size: 1rem;
}

.u-section-1-1 .u-table-cell-19 {
  margin: 0 0 60px;
}

.u-section-1-1 .u-table-cell-23 {
  margin: 0 0 60px;
}

.u-section-1-1 .u-table-cell-27 {
  margin: 0 0 60px;
}

.u-section-1-1 .u-table-cell-31 {
  margin: 0 0 60px;
}

.u-section-1-1 .u-table-cell-35 {
  margin: 0 0 60px;
}

.u-section-1-1 .u-table-cell-39 {
  margin: 0 0 60px;
}

.u-block-7ac3-164 {
  height: 47px;
}

@media (max-width: 575px) {
  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-table-2 {
    margin-top: -571px;
  }

  .u-section-1-1 .u-table-cell-8 {
    font-size: 0.75rem;
  }

  .u-section-1-1 .u-table-cell-9 {
    font-size: 0.75rem;
  }

  .u-section-1-1 .u-table-cell-10 {
    font-size: 0.75rem;
  }
}

 .u-section-1-2 {
  background-image: none;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-1-2 .u-text-1 {
  width: auto;
  margin: 0;
}

.u-section-1-2 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-c4fa-6 {
  border-style: double;
}

.u-section-1-2 .u-table-cell-1 {
  border-style: double;
}

.u-section-1-2 .u-table-cell-2 {
  border-style: double;
  font-size: 1rem;
}

.u-section-1-2 .u-table-cell-3 {
  border-style: double;
  font-size: 1rem;
}

.u-section-1-2 .u-table-cell-4 {
  border-style: double;
  font-size: 1rem;
}

.u-section-1-2 .u-table-cell-13 {
  margin: 0 0 60px;
}

.u-section-1-2 .u-table-cell-17 {
  margin: 0 0 60px;
}

.u-section-1-2 .u-table-cell-21 {
  margin: 0 0 60px;
}

.u-section-1-2 .u-table-cell-25 {
  margin: 0 0 60px;
}

.u-section-1-2 .u-table-cell-29 {
  margin: 0 0 60px;
}

.u-section-1-2 .u-table-cell-33 {
  margin: 0 0 60px;
}

.u-block-c4fa-49 {
  height: 47px;
}

.u-section-1-2 .u-table-2 {
  height: 142px;
  margin: 0 0 60px;
}

.u-block-c4fa-61 {
  height: 47px;
}

.u-block-c4fa-72 {
  height: 47px;
}

@media (max-width: 575px) {
  .u-section-1-2 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1-2 .u-table-cell-2 {
    font-size: 0.75rem;
  }

  .u-section-1-2 .u-table-cell-3 {
    font-size: 0.75rem;
  }

  .u-section-1-2 .u-table-cell-4 {
    font-size: 0.75rem;
  }

  .u-section-1-2 .u-table-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

 .u-section-1-3 {
  background-image: none;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-1-3 .u-text-1 {
  width: auto;
  margin: 0;
}

.u-section-1-3 .u-table-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-block-b7e6-6 {
  border-style: double;
}

.u-section-1-3 .u-table-cell-1 {
  border-style: double;
}

.u-section-1-3 .u-table-cell-2 {
  border-style: double;
  font-size: 1rem;
}

.u-section-1-3 .u-table-cell-3 {
  border-style: double;
  font-size: 1rem;
}

.u-section-1-3 .u-table-cell-4 {
  border-style: double;
  font-size: 1rem;
}

.u-section-1-3 .u-table-cell-13 {
  margin: 0 0 60px;
}

.u-section-1-3 .u-table-cell-17 {
  margin: 0 0 60px;
}

.u-section-1-3 .u-table-cell-21 {
  margin: 0 0 60px;
}

.u-section-1-3 .u-table-cell-25 {
  margin: 0 0 60px;
}

.u-section-1-3 .u-table-cell-29 {
  margin: 0 0 60px;
}

.u-section-1-3 .u-table-cell-33 {
  margin: 0 0 60px;
}

.u-block-b7e6-49 {
  height: 47px;
}

.u-section-1-3 .u-table-2 {
  height: 142px;
  margin: 0 0 60px;
}

.u-block-b7e6-61 {
  height: 47px;
}

.u-block-b7e6-72 {
  height: 47px;
}

@media (max-width: 575px) {
  .u-section-1-3 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-1-3 .u-table-cell-2 {
    font-size: 0.75rem;
  }

  .u-section-1-3 .u-table-cell-3 {
    font-size: 0.75rem;
  }

  .u-section-1-3 .u-table-cell-4 {
    font-size: 0.75rem;
  }

  .u-section-1-3 .u-table-2 {
    margin-right: initial;
    margin-left: initial;
  }
}