.u-section-1 .u-sheet-1 {
  min-height: 1065px;
}

.u-section-1 .u-text-1 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-table-1 {
  margin-bottom: 60px;
}

.u-block-bcaa-5 {
  border-style: double;
}

.u-section-1 .u-table-cell-1 {
  border-style: double;
}

.u-section-1 .u-table-cell-2 {
  border-style: double;
}

.u-section-1 .u-table-cell-3 {
  border-style: double;
}

.u-section-1 .u-table-cell-4 {
  border-style: double;
}

.u-section-1 .u-table-cell-13 {
  margin: 0 0 60px;
}

.u-section-1 .u-table-cell-17 {
  margin: 0 0 60px;
}

.u-section-1 .u-table-cell-21 {
  margin: 0 0 60px;
}

.u-section-1 .u-table-cell-25 {
  margin: 0 0 60px;
}

.u-section-1 .u-table-cell-29 {
  margin: 0 0 60px;
}

.u-block-bcaa-25 {
  height: 47px;
}

.u-section-1 .u-text-2 {
  margin: 30px 0 0;
}

.u-section-1 .u-table-2 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-block-bcaa-58 {
  border-style: double;
}

.u-section-1 .u-table-cell-33 {
  border-style: double;
}

.u-section-1 .u-table-cell-34 {
  border-style: double;
}

.u-section-1 .u-table-cell-35 {
  border-style: double;
}

.u-section-1 .u-table-cell-36 {
  border-style: double;
}

.u-block-bcaa-97 {
  height: 47px;
}

.u-section-1 .u-table-3 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-block-bcaa-109 {
  height: 47px;
}

.u-block-bcaa-120 {
  height: 47px;
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    margin-bottom: 0;
    margin-top: 17px;
  }

  .u-section-1 .u-table-2 {
    margin-bottom: 0;
  }
}